footer h2{
    text-align:center;
}
body{
    overflow-x:hidden;
}
h1{
    font-family: "Exo 2"!important;
    font-size:5em;
}
.margin-left{
    margin-top:80px;
    margin-right:60px;
}
.addnew{
    margin-left: 40px;
    margin-top: 50px;
    display: block;
}
.date{
    margin-top: -20px;
    display: block;
    background: rgba(0,0,25,0.2);
    width: 112px;
    padding-left: 7px;
    float: right;
}

footer {
    background:rgba(0, 2, 255, 0.1);
    padding-top:10px;
    margin-top:50px;
}
.title{
    float: left;
    font-size: small;
    font-weight: normal;
}
@media (min-width:641px) {
    .row .col-md-12>.col-md-3:first-child{
        margin-left:130px;
    }
}
@media (max-width:641px) {
    .row .col-md-12>.col-md-3:first-child{
        margin-bottom:20px;
    }
}
.day{
    background: #18bc9c;
    margin-top: -20px;
    display: table-cell;
    float: right;
    width: 100%;
    margin:0px;
    padding-right: 8px;
}
#events_top .col-md-3{
    min-height:180px;
    padding:20px;
}

h1,h2,h3,h4,h5, p{
    font-family:kreon;
}
#events_top .col-md-3 {
    margin-right:20px;
    background:rgba(0, 2, 255, 0.1);
}
